<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
</head>
<body>
<h3 style="text-align: center;">Список книг</h3>
<hr>
<div th:each="book : ${books}">
    <big><a th:href="@{/books/{id}(id = ${book.getId()})}" th:text="${book.getName()} + ', ' + ${book.getAuthor()}">value</a></big>
</div>
<hr>
<button onclick="document.location='books/new'">Добавить новую книгу</button>

<form th:action="@{/books/search}">
    <button>Поиск</button>
</form>

<div style="text-align: center;">
    <a href="index.jsp">На главную</a>
</div>
</body>
</html>
